<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<title>Los Fuegos Papiis</title>
		{% load staticfiles %}
		<!-- JS Imports  -->
		<!-- CSS Imports -->
		<link rel='stylesheet' type='text/css' href="{% static 'vizapp/base.css' %}" />
		<!-- Font Imports -->
	</head>
	<body>
		<div id='site_container'>
			<div id='header_container'>
				<div id='title_container'>
					<div id='main_title'>
						Los Fuegos Papiis
					</div>
					<div id='main_subtitle'>
						Or whatever the fuck our last name is
					</div>
				</div> <!-- title_container -->
				<div id='nav_container'>
					<div id='nav_home' class='nav_item nav_selected'>Home</div>
					<div id='nav_datasets' class='nav_item'>Datasets</div>
					<div id='nav_about' class='nav_item'>About</div>
					<div class='clear'></div>
				</div> <!-- nav_container -->
			</div>	<!-- header_container -->
			{% block content %}{% endblock content %}
			<div id='footer_container'>
				FSU-CEN4020 - Hernandez, Nabors, Reynes
			</div> <!-- footer_container -->
		</div> <!-- site_container -->
	</body>
</html>
