/* ========================================================================== *\
 * File: base.css                                                             *
\* ========================================================================== */
body, html{
	height:  100%;
	margin:  0 !important;
	padding: 0 !important;
}
.clear{
	clear: both;
}

/* base.html ---------------------------------------------------------------- */
#site_container
{
	min-height:   97%;
	position: relative;
	width:    100%;
}
	#header_container
	{
		background-color: #353B2A;
		color: #BFC2BC;
		box-shadow: 0px 15px 25px #83897A;
		border-bottom: 1px solid black;
	}
		#title_container
		{
		}
			#main_title
			{
				text-align: center;
				font-size: 3.5em;
				position: relative;
				font-weight: bold;
				float: left;
				width: 35%;
				font-family: 'Roboto', sans-serif;
			}
			#main_subtitle
			{
				font-size: 1em;
				position: absolute;
				float:left;
				top: 4.5em;
				left: 16%;
				color: #281F2B;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				cursor: default;
			}
		#nav_container
		{
			position: relative;
		}
			.nav_item
			{
				cursor: pointer;
				float: left;
				text-align: center;
				position: relative;
				margin-left: 7%;
				margin-top: 1%;
				font-size: 2em;
				padding-left: 4%;
				padding-right: 4%;
				border-top: 3px solid #8A878B;
				border-bottom: 3px solid #8A878B;
				color: #FEFEFE;
				border-radius: 9px;
			}
			.nav_item:hover
			{
				background: #281F2B;
				box-shadow: 0px 5px 15px #605862;
			}
			.nav_selected
			{
				background: #FEFEFE !important;
				color: #40302E;
				cursor: default !important;
			}
			#nav_home{}
			#nav_datasets{}
			#nav_about{}
	#footer_container
	{
		border-top: 3px solid black;
		bottom:     0;
		height:     1.5em;
		position:   relative;
		text-align: right;
		width:      100%;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: .8em;
		background-color: #353B2A;
		color: #BFC2BC;
		box-shadow: 0px -5px 15px #83897A;
	}
		#footer_text
		{
			float: right;
			margin-right: 1em;
		}

/* index.html --------------------------------------------------------------- */
#index_left_side
{
	float: left;
	height: 75%;
	width: 18%;
	margin: 1em;
	margin-top: 2em;
}
	#index_latest_title
	{
		width: 100%;
		position: relative;
		text-align: center;
		font-size: 2em;
		border-bottom: 1px solid black;
		border-radius: 25px;
		padding-bottom: .5em;
		margin-bottom: 1em;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: #281F2B;
		box-shadow: 0px 70px 100px #353B2A;
		background-color: #FEFEFE;
		cursor: default;
	}
	.index_latest_container
	{
		position: relative;
		background-color: #FEFEFE;
		width: 90%;
		border-radius: 20px;
		padding: 1em;
		border-top: 3px solid #281F2B;
		border-bottom: 3px solid #281F2B;
		box-shadow: 0px 70px 100px #353B2A;
		cursor: pointer;
		margin-bottom: 1em;
	}
	.index_latest_container:hover
	{
		border-top: 3px solid #B0AAAD;
		border-bottom: 3px solid #B0AAAD;
	}
		.index_latest_name
		{
			text-align: center;
			font-size: 1.4em;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-radius: 5px;
		}
		.index_latest_descrip_title
		{
			font-weight: bold;
		}
		.index_latest_descrip
		{
			padding: .5em;
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-radius: 5px;
			font-family: 'Roboto', sans-serif;
		}
		.index_date_container{}
			.index_date_pub
			{
				padding-left: .5em;
			}
			.index_date_edit
			{
				padding-left: .5em;
			}
#index_right_side
{
	border: 1px solid black;
	float: left;
	height: 75%;
	width: 74%;
	margin: 2em;
}
	#index_content_container
	{
	}

/* datasets.html ------------------------------------------------------------ */
#datasets_container
{
	width: 85%;
	height: 75%;
	position: relative;
	margin-left: 8%;
	border: 5px solid #40302E;
	margin-top: 2.5em;
	background: #353B2A;
	border-radius: 35px;
	box-shadow: 0px 10px 20px #83897A;
	padding-bottom: 3em;
}
	.cat_container
	{
		border: 1px solid black;
		width: 90%;
		position: relative;
		margin-left: 5%;
		background: #F4F4F4;
		margin-top: 2em;
		padding-bottom: 3em;
		box-shadow: 10px 10px 20px #7C6E75;
		border-radius: 20px;
	}
		.cat_title
		{
			width: 90%;
			font-size: 2em;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
			text-align: center;
			margin-left: 5%;
		}
		.cat_content
		{
		}
		.cat_vis_box
		{
			width: 30% !important;
			float: left;
			margin-left: 11%;
			box-shadow: 5px 5px 20px #605862;
		}


/* DATA TEMPLATES  ---------------------------------------------------------- */
.vis_left_side
{
	float: left;
	height: 75%;
	width: 18%;
	margin: 1em;
	margin-top: 2em;
	cursor: default;
}
	.vis_left_title
	{
		width: 100%;
		position: relative;
		text-align: center;
		font-size: 2em;
		margin-top: 1em;
		border-bottom: 1px solid black;
		border-radius: 25px;
		padding-bottom: .5em;
		margin-bottom: 1em;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: #281F2B;
		box-shadow: 0px 30px 50px #353B2A;
		cursor: default;
	}
	.vis_left_cat_container
	{
		position: relative;
		padding: .5em;
		margin: .5em;
		border-left: 3px solid #40302E;
		border-right: 3px solid #40302E;
		border-radius: 20px;
		background: #FEFEFE;
		box-shadow: 0px 10px 20px #353B2A;
		cursor: default;
	}
		.vis_left_cat_title
		{
			position: relative;
			float: left;
			margin-left: 1em;
			margin-right: .5em;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
			font-size: 1.1em;
		}
		.vis_left_cat
		{
			position: relative;
			float: left;
			font-family: 'Roboto', sans-serif;
			font-size: 1.1em;
		}
	.vis_left_description_title
	{
		margin-top: 1.5em;
		font-family: 'Roboto', sans-serif;
		font-size: 1.2em;
		font-weight: bold;
	}
	.vis_left_description
	{
		margin: .5em;
		font-family: 'Roboto', sans-serif;
	}

/* D3 COMPONENTS */
.d3_background{
	fill: none;
	pointer-events: all;
}
.d3_feature{
	fill: #ccc;
	cursor: pointer;
}
.d3_feature.active{
	fill: orange;
}
.d3_mesh{
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.d3_donut_path
{
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
	transition: fill 250ms linear;
	transition-delay: 150ms;
}
.d3_donut_path:hover
{
	fill: #999;
	stroke: #000;
	transition-delay: 0;
}
/* ------------- */
.vis_right_side
{
	float: left;
	height: 75%;
	width: 74%;
	margin: 2em;
}
	#visualization
	{
		width: 1000px;
		height: 540px;
		border: 3px solid #353B2A;
		position: relative;
		margin-top: 2em;
		border-radius: 35px;
		padding: 1%;
		box-shadow: 5px 5px 20px #83897A;
		padding-left: 4%;
		padding-top: 4%;
	}
	#vis_data_container
	{
		margin-top: 2.5em;
		width: 1060px;
		border: 3px solid #353B2A;
		border-radius: 35px;
		box-shadow: 5px 5px 20px #83897A;
		height: 50em;
	}
		.vis_data_left_side
		{
			width: 39%;
			position: relative;
			float: left;
			margin: 1em;
			height: 32em;
		}
		.vis_data_right_side
		{
			width: 54%;
			position: relative;
			float: left;
			margin: 1em;
			height: 32em;
		}
		#donut_vis
		{
			position: relative;
			margin-left: 4em;
		}
	#vis_data_left_title
	{
		width: 92%;
		font-weight: bold;
		font-size: 2em;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		border: 2px solid #605862;
		border-radius: 20px;
		margin-bottom: 1.2em;
		padding: .5em;
		box-shadow: 0px 20px 35px #83897A;
	}
	#vis_data_dynamic
	{
		width: 96%;
		border: 1px solid black;
		height: 36em;
		border-radius: 25px;
		padding: .5em;
		border: 2px solid #605862;
		box-shadow: 0px 20px 35px #83897A;
	}
		.dynamic_containerL
		{
			width: 80%;
			margin-left: 5%;
			padding: 1em;
			border: 2px solid #948684;
			border-radius: 20px;
			margin-top: 1em;
			margin-bottom: 3em;
			box-shadow: 0px 15px 25px #7C6E75;
		}
		.dynamic_titleL
		{
			float: left;
			margin: .5em;
			font-weight: bold;
			font-size: 1.5em;
			font-family: 'Roboto', sans-serif;
		}
		.dynamic_contentL
		{
			float: left;
			margin: .5em;
			font-size: 1.6em;
		}
		.dynamic_container
		{
			width: 87%;
			margin-left: 5%;
			border: 2px solid #948684;
			border-radius: 20px;
			margin-bottom: 1em;
			box-shadow: 0px 15px 25px #7C6E75;
		}
		.dynamic_title
		{
			float: left;
			margin-left: .5em;
			font-weight: bold;
			font-size: 1.5em;
			font-family: 'Roboto', sans-serif;
		}
		.dynamic_content
		{
			float: left;
			margin-left: .5em;
			font-size: 1.6em;
		}
/* index.html --------------------------------------------------------------- */
